pyodbc
pycryptodome
dicttoxml
xmltodict
pandas
xmlschema
dicttoxml2
sortedcontainers==2.4.0
pyocclient==0.6
segno
pyncclient==0.7
icalendar
sqlparse
xlsxwriter
defusedxml
mammoth
phonenumbers==9.0.28
msal
azure-kusto-ingest
debugpy
